* {
    margin: 0;
    padding: 0
}

p, a, span, div {
    user-select: none;
}

body {
    background-color: #1f1f21;
}

.wide {
    width: auto;
}

.inline {
    display: inline-block;
    margin-right: 0.5vw;
}

.selection {
    font-family: Calibri;
    font-weight: bolder;
    color: azure;
    background-color: #2f2f30;
    font-size: 0.9vw;
}

.selection.date-picker {
    color-scheme: dark;
    font-size: 0.85vw;
}

.base-offset {
    margin-left: 1.5vw;
}

.top-offset {
    margin-top: 1vw;
}

.additional-offset {
    margin-left: 1vw;
}

.base-text {
    margin-bottom: 0.5vw;
    font-family: "Calibri";
    font-size: 1vw;
    color: aliceblue;
}

button {
    display: inline-block;
    padding: 0.15vw 0.3vw;
    text-decoration: none;
    background: #2f2f30;
    background-size: 20vw;
    text-align: center;
    color: #ffffff;
    font-size: 1.25vw;
    border: none;
    outline: none;
    transition: background 0.25s ease;
    font-family: "Calibri";
    font-weight: bolder;
    border-radius: 0.25vw;
}

button:hover {
    border: none;
    outline: none;
    background: #38383a;
}

button:active {
    border: none;
    outline: none;

    transition: background 0.1s ease;
    background: #4b494d;
}

button:focus {
    border: none;
    outline: none;
}

.content {
    background-color: #38383a;
    padding: 0.5vw 1.5vw;
    width: 92.5%;
    height: 50%;
    border-radius: 0.5vw;
}

.tile {
    /*background-color: #2f2f31;*/
    padding: 0.5vw 0.75vw;
    height: 50%;
    border-radius: 0.35vw;
    margin: 0.25vw 1vw;
    text-align: left;
}

.upper {
    margin-bottom: 1.25vw;
}

.tile-caption {
    font-family: "Calibri";
    font-weight: bolder;
    font-size: 1.175vw;

    color: aliceblue;
}

.tile-text {
    color: #938c94;
    font-family: "Calibri Light";
    font-style: italic;
    font-size: 0.9vw;
}

.draw {
    background-color: #464648;
    width: 90vw;
    height: 25vw;
    border-radius: 0.25vw;
    margin: 0.5vw 0;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.gray-text {
    color: #938c94;
    font-family: "Calibri Light";
    font-style: italic;
    font-size: 1vw;
}

hr {
    /*size: 1px;*/
    width: 97.5%;
    margin: 0.5vw auto 1vw auto;
    color: #2f2f30;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.title {
    font-family: "Arial Black";
    font-size: 2vw;
    color: aliceblue;
}

.wrapper {
    text-align: center;
}

.cen